
<h2>Powered by</h2>
<a href="https://paraio.com"><span class="logo"></span></a>
<p>
  This is an example was originally based on <a href="https://github.com/mgechev/angular-seed">Angular Seed</a>.
  It has been upgraded to use Angular CLI.<br>
  It is part of a tutorial on <a href="http://www.erudika.com/blog/2016/06/09/Building-the-stack-from-scratch-with-Angular-2/">how to get started quickly with Angular</a>
  and how to integrate your Angular frontend with a Para backend.
<p>

<h2>Features</h2>
<ul>
  <li>CRUD functionality for recipes</li>
  <li>Full-text search</li>
  <li>Markdown support</li>
</ul>

<h4>
  Made with <span class="red">❤</span> by <a href="https://github.com/albogdano">Alex Bogdanovski</a>
</h4>
