body,
div,
html {
  border: 0;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input,
textarea {
  border: 1px solid #106cc8;
  font-size: 14px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: hsla(0,0%,100%,.87);
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

button.small {
  font-size: 12px;
  height: 30px;
}

.red {
  color: #cd5c5c;
}

.right {
  float: right;
}

.center {
  text-align: center;
}