<h1>My Recipes &nbsp; <button (click)="clearForm() && showForm = true" [hidden]="showForm">Add</button></h1>
<div>
  <form (submit)="search()" [hidden]="showForm">
    <input type="text" [(ngModel)]="q" placeholder="Search">
  </form>
</div>
<form (submit)="addRecipe()" [hidden]="!showForm">
  <div>
    <input [(ngModel)]="newName" placeholder="Title">
  </div>
  <br>
  <div>
    <textarea [(ngModel)]="newRecipe" rows="10" cols="33" placeholder="Recipe"></textarea>
  </div>
  <button type="submit">
    <span *ngIf="editMode">Save</span>
    <span *ngIf="!editMode">Add</span>
  </button>
  &nbsp;
  <a href="#" (click)="showForm = false">Close</a>
</form>

<ul>
  <div class="empty-box" *ngIf="recipesList && recipesList.length == 0" [hidden]="showForm">
    No recipes to show.
  </div>
  <li *ngFor="let recipe of recipesList" class="recipe-box">
    <h3>{{recipe.name}}</h3>
    <hr>
    <div [innerHTML]="md2html(recipe.text)"></div>
    <br>
    <button href="#" (click)="editRecipe(recipe)" class="small">edit</button> &nbsp;
    <a href="#" (click)="removeRecipe(recipe.id)" class="red right">remove</a>
  </li>
</ul>
