:host {
  display: block;
  padding: 0 16px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

logo {
  background: url("./assets/svg/logo.svg");
  background-size: cover;
  height: 76px;
  margin-top: 30px;
  width: 242px;
  display: block;
}
