:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

hr {
  border-top: none;
  border-bottom: 1px solid #106cc8;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.recipe-box {
  display: inline-table;
  width: 300px;
  margin: 30px 30px 0 -7px;
  padding: 20px;
  border: 1px solid #106cc8;
}

.recipe-box input:first-child {
  width: 100%;
  margin: 11px 0;
}

.recipe-box textarea {
  min-height: 300px;
  min-width: 400px;
  max-width: 500px;
}

.empty-box {
  height: 200px;
  width: 100%;
  padding: 1.5em 0 1em 0;
  font-size: 3em;
  color: #ccc;
  border: 3px dashed;
  text-align: center;
}
